{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'yaml_creator/css/base.css' %}" />
<ul>
    {% for fn in folder_names   %}
    	<li> 
	    <a href="{%url 'detail' fn%}">{{fn}}</a>
	</li>
    {% endfor %}     
</ul>            	
 <!--      	
-->
<form action="{% url 'create_new_ModelDescriptor'%}" method="post">
	{% csrf_token %}

	<input type="text" name="filename" value="{{ default_folder_name}}" />
  	<input type="submit" value="create new model" />
</form>
                 	
