<p>
<a href="{%url 'data_base_index' %}">back to overview</a>
</p>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script
{% load i18n static admin_urls %}
{{ file_name }}
{{ ModelDescriptorForm.media }}
{% if error %} 
	<h1>Error</h1>
	{{ error }}
	{{ ModelDescriptorForm.data }}
{% endif %}

{% comment%}
{% if success%} 
<h1>Success</h1>
{{ success }}
{% endif %}

{% if inspect %} 
<h1>inspection</h1>
{{ inspect }}
{% endif %}

{% endcomment %}	
<table>
	<tr>
    <td>
    {% if ModelDescriptorForm %} 
    <table>
      <form action="{% url 'detail' file_name %}" method="post">
        {% csrf_token %}
        {{ ModelDescriptorForm }}
        <input type="submit" value="Submit" />
      </form>
    </table>
    {% endif %}
    </td>
    <td>
    {% if plot %} 
    {{ plot|safe }}
    {% endif %}
    </td>
	</tr>
</table>
