<p>
<a href="{%url 'data_base_index' %}">back to overview</a>
</p>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script
{% load i18n static admin_urls %}
{{ file_name }}
{{ ModelDescriptorForm.media }}
{% if error %} 
<h1>Error</h1>
{{ error }}
{{ ModelDescriptorForm.data }}
<h2>doi_dict</h2>
{{ doi_dict }}
{% endif %}

{% if success%} 
<h1>Success</h1>
{{ success }}
{% endif %}

{% if ModelDescriptorForm %} 
<form action="{% url 'detail' file_name %}" method="post">
    {% csrf_token %}
    {# {{ ModelDescriptorForm }} #}

	<h2>Additional information</h2>
	<ul>

	{% for field in ModelDescriptorForm %}
	    	<div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	{% endfor %}
	</ul>

	<h2>State Variables</h2>

	<ul>
	{% if variableforms %}
		{% for form in variableforms %}
			{{ form.prefix}}
			{{ form.id_for_label}}
			{{ form.html_name}}
			{{ form.user}}
			{% for field in form %}
			    	<div class="fieldWrapper">
			        {{ field.errors }}
			        {{ field.label_tag }} {{ field }}
			        {% if field.help_text %}
			        <p class="help">{{ field.help_text|safe }}</p>
			        {% endif %}
			    </div>
			{% endfor %}
		{% endfor %}

	{% endif %}
	
	{% if FluxRepresentationForm %}
		<h2>Flux representation</h2>
		{{ FluxRepresentationForm }}
	{% endif %}

	<h2>Fluxes </h2>

        {% include "yaml_creator/Fluxes.html" %}	
    <input type="submit" value="Submit" />
</form>
{% endif %}

