<p>
<a href="{%url 'data_base_index' %}">back to overview</a>
</p>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script
{% load i18n static admin_urls %}
{{ file_name }}
{{ form.media }}
{% if error %} 
<h1>Error</h1>
{{ error }}
{{ form.data }}
<h2>doi_dict</h2>
{{ doi_dict }}
{% endif %}

{% if success%} 
<h1>Success</h1>
{{ success }}
{% endif %}

{% if form %} 
<form action="{% url 'detail' file_name %}" method="post">
    {% csrf_token %}
    {# {{ form }} #}
	<ul>
	{% for field in form %}
	    	<div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	{% endfor %}
	</ul>
    <input type="submit" value="Submit" />
</form>
{% endif %}

