
set a Flux 
{{ modeldescriptor.filename }}<br> 
{{ modeldescriptor.cs}}<br> 
	
<script>
	function getForm() {
		    var x = document.getElementById("sourceSelect");
		    var s = x.cloneNode(true);
		    s.remove(x.selectedIndex)
				s.name="Target"
		    var d=document.getElementById("targetDiv")
		    var l=d.childNodes.length;
	      var b = document.createElement("BUTTON");
	      var submit = document.createElement("INPUT");
				submit.setAttribute("type","submit")
				submit.setAttribute("value","add Flux")
			  if (l == 1){
					d.appendChild(s);
			    d.appendChild(submit);
		    }
		    if (l > 1){
					var oldf=d.childNodes[1];
					d.replaceChild(s,oldf);
			  }
	}
</script>
<form id="sourceForm" action="{% url 'set_Fluxes' modeldescriptor.filename %}" method="post">
	{% csrf_token %}
	<select id="sourceSelect" name='Source'>
	  	{% for var in modeldescriptor.variable_set.all %}
			<option> {{ var.name }}</option> 
			{% endfor %}
	</select>
	<input type="button" onclick="getForm()" value="set source pool">
	<div id="targetDiv"> </div>
</form>
