<!DOCTYPE HTML>
<HTML>
<head>
  <meta charset="utf-8">
  <title>javascript test</title>
  <!--
  <script src="FluxFields.js" type="text/javascript"></script>
  -->
</head>
<h2>Fluxes</h2>
<body>
  <!--
  	The following (hidden) input field is used for the communication between 
  	the python widget and the javascript code
  	Both write a JSON string in it
  
  <input 
  	id="fluxReturn", 
    value='{"names":["x","y","z"],"internal_fluxes":[{"source":"x","target":"y","expression":"x**3"}]}'
  >	
  -->
  <input 
  	type ="{{ widget.type }}" 
  	id="fluxReturn" 
  	name="{{ widget.name }}"   
  	{% if widget.value != None %} value="{{ widget.value }}"{% endif %}
  	{% include "django/forms/widgets/attrs.html" %}
  >	
  	
  <div id="TableDiv"> </div>
  <p> 
  	tableLengthDemo: <div id="tableLengthDemo"> </div>
  </p> 
  <p> 
    <div id="AddButtonDiv"> </div> 
  </p>
  <p> 
    <div id="SubmitButtonDiv"> </div> 
  </p>
 
  // In fluxes
  <p> 
    <div id='InFluxTableDiv' ></div>
  </p>
  <p> 
    <div id='AddInFluxButtonDiv' ></div>
  </p>
  
  
  // Internal fluxes
  <p> 
    <div id='InternalFluxTableDiv' ></div>
  </p>
  <p> 
    <div id='AddInternalFluxButtonDiv' ></div>
  </p>
  
  // Out fluxes
  <p> 
    <div id='OutFluxTableDiv' ></div>
  </p>
  <p> 
    <div id='AddOutFluxButtonDiv' ></div>
  </p>

</body>
<script>


class FluxTable{
  static delFuncMaker(tbody,b){
      var f=function() {	
        var index=b.parentElement.parentElement.sectionRowIndex;
        tbody.deleteRow(index);
      };
      return f
    }
  static addRow(tbody,names,flux){
    var row = tbody.insertRow();
    var ff= new InternalFluxField(names,flux); 
    // store a reference to the field in the row 
    row.fluxField=ff;
    // add the select fields of the fluxfield to the 
    // row elements
    var sd = row.insertCell(0);
    sd.appendChild(ff.select1);
    
    var td = row.insertCell(1);
    td.appendChild(ff.select2);
    
    var ed = row.insertCell(2);
    ed.appendChild(ff.expression);

    var bd = row.insertCell(3);
    var b= document.createElement("INPUT");
    b.setAttribute('type','button');
    b.setAttribute('value','delete flux');
    var f=this.delFuncMaker(tbody,b);
    b.onclick=f;
    // store a reference to the Button in the row 
    row.deleteButton=b;
  	bd.appendChild(b);
  	//     update_input_ids_table(T);
    return tbody;
  };

  //////////////////////////////////////////////////  
	constructor(names,fluxes){
		this.names=names;
		this.fluxes=fluxes;
		// I would like to extend the standard table class
		// but I could just not find the constructor
		// so we build a container around it and
		// delegate 
  	var table=document.createElement('table');
    var thead = table.createTHead();
    var tbody= table.createTBody();
    table.appendChild(tbody);
    
    var tr_head = table.insertRow();
    
    var th_source = document.createElement("th");
    th_source.textContent = "Source";
    tr_head.appendChild(th_source);
    
    var th_target = document.createElement("th");
    th_target.textContent = "Target ";
    tr_head.appendChild(th_target);
    
    var th_expression = document.createElement("th");
    th_expression.textContent = "Expression";
    tr_head.appendChild(th_expression);
    thead.appendChild(tr_head);
    
    var default_flux={'source':names[0],'target':names[1],'expression':''};
    var T=this;
    if (names.length>0){
      table.appendChild(thead);
      fluxes.forEach(
        function(flux){
          tbody= FluxTable.addRow(tbody,names,flux)}
      );
    };
    
    // add an addBotton property which does not mean that it is visible
    // But it can later be displayed wherever we want
    var bc= document.createElement("INPUT");
    bc.type='button';
    bc.value='add internal Flux';
    bc.onclick=function(){
      tbody=FluxTable.addRow(tbody,names,default_flux);
    };
    
    this.addFluxButton=bc;
    this.table=table;
	}
  
  
  //////////////////////////////////////////////////  
  set onchange(func){
    var table=this.table;
    var tbody=table.tBodies[0];
    for (let r of tbody.rows){
      // init the onchange of the fluxForm with func 
      r.fluxField.onchange=func;
      // modify the onclick of the deleteButton to include func 
      var b=r.deleteButton
      var oldf=b.onclick;
      b.onclick=function(){
        oldf();
        func();
      }
    }
    // modify the onclick of the addFluxButton to include func 
    b=this.addFluxButton;
    var oldf=b.onclick;
    b.onclick=function(){
      oldf();
      func();
    }
  }
  
  //////////////////////////////////////////////////  
  get value(){
    //arr=[{source:1}];
    var table=this.table;
    var tbody=table.tBodies[0];
    var arr=[];
    
    for (let row of tbody.rows) {
        arr.push(row.fluxField.value);
  	}
    return arr;
  }

}


//// functions with side effects using global vars
function readHiddenTextField(){
  arr=JSON.parse(ret.value);
  console.log(arr);
  return arr
}
function writeInFluxesToHiddenTextField(){
  arr=readHiddenTextField();
  arr.in_fluxes=t1.values;
  s=JSON.stringify(arr); 
  ret.value=s;
  console.log(ret.value);
}
function writeInternalFluxesToHiddenTextField(){
  arr=readHiddenTextField();
  arr.internal_fluxes=t2.values;
  s=JSON.stringify(arr); 
  ret.value=s;
  console.log(ret.value);
}
function writeInternalFluxesToHiddenTextField(){
  arr=readHiddenTextField();
  arr.out_fluxes=t3.values;
  s=JSON.stringify(arr); 
  ret.value=s;
  console.log(ret.value);
}

//function main(){
  var ret=document.getElementById("fluxReturn" );
  // fake arr for testing
  var arr={
    'names':['x','y','z'],
    'internal_fluxes':[
      {'source':'x','target':'y','expression':'x**3'},
      {'source':'x','target':'z','expression':'x**4'}
    ],
    'in_fluxes':[
      {'target':'y','expression':'x**3'},
      {'target':'z','expression':'x**4'}
    ],
    'out_fluxes':[
      {'source':'y','expression':'x**3'},
      {'source':'z','expression':'x**4'}
    ]
  }
  //arr=readHiddenTextField();
  var names=arr['names'];
  
  var t1= new FluxTable(names,arr['in_fluxes']); 
  t1.onchange=writeInternalFluxesToHiddenTextField;
  var d1=document.getElementById("InFluxTableDiv");	
  var b1=document.getElementById("AddInFluxButtonDiv");	
  d1.appendChild(t1.table);
  b1.appendChild(t1.addFluxButton);

  var t2= new FluxTable(names,arr['internal_fluxes']); 
  t2.onchange=writeInternalFluxesToHiddenTextField;
  var d2=document.getElementById("InternalFluxTableDiv");	
  var b2=document.getElementById("AddInternalFluxButtonDiv");	
  d2.appendChild(t2.table);
  b2.appendChild(t2.addFluxButton);

  var t3= new FluxTable(names,arr['out_fluxes']); 
  t3.onchange=writeInternalFluxesToHiddenTextField;
  var d3=document.getElementById("OutFluxTableDiv");	
  var b3=document.getElementById("AddOutFluxButtonDiv");	
  d3.appendChild(t3.table);
  b3.appendChild(t3.addFluxButton);
//}
//document.onload=main();
</script>
