<!DOCTYPE HTML>
<HTML>
<head>
    <title>javascript test</title>
    <script src="FluxFields.js" type="text/javascript"></script>
</head>
<h2>Fluxes</h2>
<body>
  <!--
  	The following (hidden) input field is used for the communication between 
  	the python widget and the javascript code
  	Both write a JSON string in it
  -->
  
  <input 
  	type ="{{ widget.type }}" 
  	id="fluxReturn" 
  	name="{{ widget.name }}"   
  	{% if widget.value != None %} value="{{ widget.value }}"{% endif %}
  	{% include "django/forms/widgets/attrs.html" %}
  >	
  	
  <div id="TableDiv"> </div>
  <p> 
  	tableLengthDemo: <div id="tableLengthDemo"> </div>
  </p> 
  <p> 
    <div id="AddButtonDiv"> </div> 
  </p>
  <p> 
    <div id="SubmitButtonDiv"> </div> 
  </p>
  <p> 
    <div id='AddInternalFluxButtonDiv' ></div>
  </p>
  <p> 
    <div id='AddInFluxButtonDiv' ></div>
  </p>
  <p> 
    <div id='InternalFluxTableDiv' ></div>
  </p>
  <p> 
    <div id='InFluxTableDiv' ></div>
  </p>

</body>
<script>
class FluxTable extends Date {
  constructor(){
    super();
  };
};
    // before we can use this we have to call the parents construc
    //var sourceClass="Source"
    //var expressionClass="Expression"
    //var targetClass="Target"
    //var thead = document.createElement("thead");
    //this.myBody= document.createElement("tbody")
    //this.appendChild(this.myBody);
    //
    //var tr_head = document.createElement("tr");
    //var th_id = document.createElement("th");
    //var th_name = document.createElement("th");
    //var th_price = document.createElement("th");
  
    //th_id.textContent = "Source";
    //th_name.textContent = "Target ";
    //th_price.textContent = "Expression";
    //
    //tr_head.appendChild(th_id);
    //tr_head.appendChild(th_name);
    //tr_head.appendChild(th_price);
    //
    //thead.appendChild(tr_head);
    //this.appendChild(thead);
    //console.log(names,fluxes);
    //this.names=names;
    //this.fluxes=fluxes;
    //this.default_flux={'source':tbl.names[0],'target':tbl.names[1],'expression':''};

    // tbl.collectFormsValues=function(){
    //    //arr=[{source:1}];
    //    arr=[];
    //    for( var i =1; i < this.rows.length; i++ )
    // 		{
	  // 		  row=this.rows[i];
    //       arr.push( getFlux(row));
    // 		};
    //     return JSON.stringify(arr); 
    // }
    // tbl.addRow = function (names,flux){
    //     var T=this;// we need this local variable in the onclick function of the button

    //   	var row =document.createElement("TR");

    //   	var s=flux['source'];
    //   	sf=createSelect(names,s);
	  //     sf.setAttribute("class",sourceClass);
    //   	var sd  =document.createElement("TD");
    //   	sd.appendChild(sf);

    //   	//var tf  =document.createTextNode(t);
    //   
    //   	var tf=createSelect(names,flux['target']);
	  //     tf.setAttribute("class",targetClass);
    //   	td =document.createElement("TD");
    //   	td.appendChild(tf);
    //   
    //   	update(sf,td); // this is necessary to disable the field chosen in the
    //   // source in the target
    //   	var exp=document.createElement("INPUT");
	  //     exp.setAttribute("class",expressionClass);
	  //     exp.value=flux["expression"];
    //   	T.appendChild(row);
    //   	var f=update_maker(sf,td);
    //   	sf.oninput=function(){
	  //   	  f();
	  //   	  writeHiddenTextField();
	  //     };
  	//     bd =document.createElement("TD");
	  //     
	  //     var b= document.createElement("INPUT");
  	//     b.setAttribute('type','button');
  	//     b.setAttribute('value','delete flux');
	  //     b.onclick=function() {	
    //       index=this.parentElement.parentElement.rowIndex;
    //       T.deleteRow(index);
    //       console.log(index);
    //       update_input_ids_table(T);
    //       writeHiddenTextField()
    //     };

  	//     bd.appendChild(b);
  	//     row.appendChild(sd);
  	//     row.appendChild(td);
  	//     row.appendChild(exp);
  	//     row.appendChild(bd);
  	//     update_input_ids_table(T);
    // };
    // 
    // // add a botton to the Table object which does not mean that it is visible
    // // But it can later be displayed wherever we want
    // var b= document.createElement("INPUT");
    // b.type='button';
    // b.value='add internal Flux';
    // b.onclick=function(){
    //   tbl.addRow(names,tbl.default_flux);
    // };
    // tbl.addFluxButton=b;

  // To do:
  // - Use this instead of T everywhere we can.
  // - get rid of the global variables

  // define global variables
  var sourceClass="Source"
  var expressionClass="Expression"
  var targetClass="Target"
  var arr=readHiddenTextFieldFake();
  var fluxes=arr.fluxes;
  var names=arr.names;
  var t2= new FluxTable(names,fluxes); 

  // functions with side effects using global vars
  function writeHiddenTextField(){
	  ret=document.getElementById("fluxReturn" );
	  ret.value=t2.collectFormsValues();	
  }
  function readHiddenTextFieldFake(){
    ret=document.getElementById("fluxReturn" );
    arr={'names':['x','y','z'],'fluxes':[{'source':'x','target':'y','expression':'x**3'}]}
    console.log(arr);
    return arr
  }
  function readHiddenTextField(){
	  ret=document.getElementById("fluxReturn" );
	  arr=JSON.parse(ret.value);
    console.log(arr);
	  return arr
  }
  function main(){
    //create the flux selects for the given fluxes

    // internal fluxes
	  console.log(fluxes);
    fluxes.forEach(
      function(flux){
    	  t2.addRow(names,flux);
      }
    );
    d2=document.getElementById("InternalFluxTableDiv");	
    b2=document.getElementById("AddInternalFluxButtonDiv");	
    d2.appendChild(t2);
    b2.appendChild(t2.addFluxButton);
  }
  document.onload=main();
</script>
